.cards {
  margin-top: 30px;
  display: grid;
  padding-bottom: 67px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 282px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px;
}

.card__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: inter;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  display: flex;
  background: transparent url(../images/like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  align-items: center;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 60%;
}
