.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 282px;
  position: relative; /* Add this line */
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  display: flex;
  position: relative;
  background: transparent url(../images/like\ button\ inactive.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 21px;
  height: 19px;
  padding: 0;
  margin: 0;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.card__like-button_active {
  background-image: url(../images/like\ button\ active.svg);
}

.card__delete-button {
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  left: 249px;
  right: 15px;
  bottom: 344px;
  display: none; /* Hide by default */
  background: transparent url(../images/Trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none; /* Add this to remove any default button styling */
  padding: 0; /* Add this to remove any default button padding */
}

.card:hover .card__delete-button {
  display: block;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 60%;
}
