.header {
  display: flex;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  padding-bottom: 40px;
  max-width: 882px;
}

@media screen and (max-width: 320px) {
  .header page__section {
    width: 126px;
    height: 24px;
    top: 28px;
    left: 27px;
    margin-bottom: 32px;
  }
}
