.header {
  display: flex;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
  max-width: 882px;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    height: 24px;
    margin-left: 0;
    margin-top: 28px;
    padding-bottom: 32px;
  }
}
