.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  color: black;
}

.modal__heading {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  padding-bottom: 54px;
  margin-bottom: 0;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__input:first-of-type {
  display: flex;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 358px;
  height: 50.15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:last-of-type {
  display: flex;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 358px;
  height: 50.15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  display: flex;
  background-color: black;
  color: white;
  font-family: Inter, Arial, sans-serif;
  width: 358px;
  height: 50.15px;
  top: 438.34px;
  left: 461px;
  gap: 0px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  cursor: pointer;
  line-height: 21.78px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 48px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 775px) {
  .modal__container {
    width: calc(100% - 35px); /* 22px left + 13px right */
    position: fixed;
    top: 123px;
    bottom: auto; /* Change from 'bottom: 123px' to 'bottom: auto' */
    left: 22px;
    right: 13px;
    padding: 25px 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -39px;
    right: 0;
  }

  .modal__form {
    flex-grow: 0; /* Change from 'flex-grow: 1' to 'flex-grow: 0' */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }

  .modal__container .modal__input {
    width: 238px;
    height: 26px;
    margin-bottom: 30px;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .modal__container .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 0; /* Add this line to ensure no bottom margin */
  }

  .modal__container_type_preview {
    width: calc(100% - 80px);
    height: calc(100vh - 269px); /* 136px top + 133px bottom */
    position: fixed;
    top: 136px;
    left: 40px;
    right: 40px;
    bottom: 133px;
    transform: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal__container_type_preview .modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -36px;
    right: 3.57px;
  }

  .modal__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .modal__caption {
    margin-top: 10px;
  }
}

.modal__container_type_preview {
  background-color: transparent;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__image {
  max-width: 100%;
  max-height: calc(75vh - 25px);
  object-fit: contain;
  padding: 0;
}

.modal__caption {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-top: 10px;
  align-self: flex-start;
}
